<!DOCTYPE html>
<html>
  <head>
      <title>Login</title>
      <% include ./partials/head %>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1>Login</h1>
            <p>Use the form to log in to your account</p>
            <p>Don't have an account? Create <a href="/register">one here.</a></p>
          </div>

          <div class="mt-5">
            <h2>Login</h2>
            <form action="/auth/login" method="post">
                <div class="form-group">
                    <label for="email">Enter Email:</label>
                    <input class="form-control" id="email" type="email" name="email" placeholder="Email Address...">
                </div>
                <div class="form-group">
                    <label for="password">Enter Password:</label>
                    <input class="form-control" id="password" type="password" name="password" placeholder="Secure Password...">
                </div>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

